:root{
  --bg-color: #0076DA;
  --time-title-color: #D4F67B;
  --time-font-color: white;
  --counting-font-color: #D4F67B;
  --btn-font-color:#002B50;
  --btn-bg-color: #D4F67B;
  --flash-font-color: white;
  --flash-bg-color: #006DC8;
  --title-color: #D4F67B;
}